<div class="container">
    <hr />
  <div class="row text-center">
    <img src="../img/logo.png" alt="recorder" width="5%"> <h2 style="display:inline"><i>We Beautify Your English</i></h2>
    </div>
    <div class="row">
             <ul class="nav navbar-top-links navbar-center display:inline;">
        
                <li >
                    <a class="dropdown-toggle"  href="#">
                       About Us
                    </a>
                   
                    <!-- /.dropdown-alerts -->
                </li>
                <li >
                    <a class="dropdown-toggle"  href="#">
                      Testimonials
                    </a>
                   
                    <!-- /.dropdown-alerts -->
                </li>

                 <li >
                    <a class="dropdown-toggle"  href="auth/logout">
                      Careers
                    </a>
                   
                    <!-- /.dropdown-alerts -->
                </li>
                 <li >
                    <a class="dropdown-toggle"  href="#">
                      FAQs
                    </a>
                   
                    <!-- /.dropdown-alerts -->
                </li>
                 <li >
                    <a class="dropdown-toggle"  href="#">
                      Contact Us
                    </a>
                   
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <ul class="navbar-right display:inline;">               
                <li >
                <a class="dropdown-toggle fa fa-facebook-square" href="#"></a></li>
                <li >
                <a class="dropdown-toggle fa fa-twitter-square" href="#"></a></li>
                <li >
                <a class="dropdown-toggle fa fa-instagram" href="#"></a></li>
                <li >
                <a class="dropdown-toggle fa fa-google-plus" href="#"></a></li>
                </ul>
                <!-- /.dropdown -->
            </ul>
           

    </div>
  </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
                <li><a href="/"> Copyright © 2016 Quick Corrections, LLC. All Rights Reserved. Proudly Developed By Unend llc.</a></li>
               
            </ul>
        </div>
    </div>
</div>

<!-- jQuery -->
    <script src="../css/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../css/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../css/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../css/dist/js/sb-admin-2.js"></script>

</body>

</html>
