
        <!-- Page Content -->
    
            <div class="container-fluid">

                <div class="row" >
                    <div class="col-sm-12 page-header">
                        <h3><i>What We Do</i></h3>
                        <h4></h4>
                    </div>
                </div>
                <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-body" style="background-color:#F7F7F7">
                            <h4 style="color:#ABA9A9"> We provide an online tutoring service primarily to non-native English speakers.<hr/>
                            </h4>
                            <h1></h1>
                        <div class="col-sm-12">
                        <div class="panel panel-default">
                        <div class="panel-body">
                           <div class="row">
                                <div class= "col-sm-5">
                                <h2 style="color:#E31934"><b>First,</b>we check your English sentences. </h2>
                                   <h3 style="color:#E31934">Did you write some sentences in English? But, you don&#39;t know whether they are right or wrong? Please ask us!</h3>
                                </div>
                                         <img class="col-xs-7" src="http://quickcorrections.com/qc/img/sentencecorrection.png" >

                                

                            </div>
                            <hr/>
                            <div class="row">
                                 <div class= "col-sm-5">
                                 <h2 style="color:#0AC40D"><b>Second,</b>we answer questions about using English in your daily lives.</h2>
                                    <h3 style="color:#0AC40D">Are you wondering whether you can use this word in a certain situation? Please ask us!</h3>
                                </div>
                                            <h1>&nbsp;</h1>

                                             <img class="col-xs-7" src="http://quickcorrections.com/qc/img/englishquestion.png" >
                            </div>
                                                        <hr/>

                            <div class="row">
                                 <div class= "col-sm-5">
                                 <h2 style="color:#053BED"><b>Third,</b>we check your English pronunciation. </h2>
                                        <h3 style="color:#053BED">Are you wondering whether your pronunciation is good? Are you preparing for an English speaking test, such as TOEFL or IELTS? If yes, please ask us! We have former TOEFL, IELTS speaking examiners!</h3>
                                </div>
                                         <img class="col-xs-7" src="http://quickcorrections.com/qc/img/pronunci.png" >
                            </div>
                                                        <hr/>

                            <div class="row">
                                 <div class= "col-sm-5">
                                 <h2 style="color:#99081B"><b>Lastly,</b> we proofread your papers.</h2>
                                    <h3 style="color:#99081B">Did you write a paper or a resume? Do you want to make your article perfect? If yes, please ask us!</h3>
                                </div>
                                         <img class="col-xs-7" src="http://quickcorrections.com/qc/img/proof.png" >
                            </div>
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
                <div class="row" >

                    
                    <!-- /.panel -->
                

                    
                    


                    

                    <div class="col-md-12">
                    <br/><br/><br/><br/><br/>

                        <h2 class="text-center"><b>Our native English tutors <br/>devote themselves to helping you learn English!</b></h2>
                        <br/>
                    </div>
                            
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            

            
            <!-- /.container-fluid -->
        
        <!-- /#page-wrapper -->

    </div>
    
     <script src="../css/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../css/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../css/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../css/dist/js/sb-admin-2.js"></script>

</body>
</html>
