
        <!-- Page Content -->
    
            <div class="container-fluid">
                <div class="row" >
                    <div class="col-lg-12 page-header text-center">
                        <h1>Why Quick Corrections?</h1>
                        <h4> We provide an online tutoring service primarily to non-native English speakers. </br style="padding-top:60px">We are offering four types of service</h4>
                    </div>
                </div>
                <div class="row" >

                    
                    <!-- /.panel -->
                

                    <div class="col-md-12">
                         <div class="col-md-6">
                             <div class="panel-default">
                                <div class="col-lg-8 col-lg-offset-5">


                               <br/><br/><br/><h2 style="color:#E31934"><b>First,</b><br/>we check your English sentences. </h2>
                                <!-- .panel-body -->
                                 </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                             <div class="panel-default">
                                <div class="col-lg-10 col-lg-offset-1">


                                <img  src="http://quickcorrections.com/qc/img/sentence.png" alt="recorder" >
                                <!-- .panel-body -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1>&nbsp;&nbsp;&nbsp;</h1>
                     <h1>&nbsp;&nbsp;&nbsp;</h1>
                 
                    <div class="col-md-12">
                        <div class="col-md-6">
                             <div class="panel-default">
                                <div class="col-lg-8 col-lg-offset-7">


                                <img src="http://quickcorrections.com/qc/img/english.png" alt="recorder">
                                <!-- .panel-body -->
                                 </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                             <div class="panel-default">
                                <div class="col-lg-8 col-lg-offset-1">


                                <br/><br/><br/><h2 style="color:#0AC40D"><b>Second,</b><br/>we answer questions about using English in your daily lives.</h2>
                                <!-- .panel-body -->
                                 </div>
                            </div>
                        </div>
                    </div>
                     <h1>&nbsp;&nbsp;&nbsp;</h1>
                     <h1>&nbsp;&nbsp;&nbsp;</h1>
                   
                    <div class="col-md-12">
                        <div class="col-md-6">
                             <div class="panel-default">
                                <div class="col-lg-8 col-lg-offset-5">

                                    <br/><br/><h2 style="color:#053BED"><b>Third,</b><br/>we check your English pronunciation. </h2>

                                <!-- .panel-body -->
                                 </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                             <div class="panel-default">
                                <div class="col-lg-10 col-lg-offset-1">


                                <img src="http://quickcorrections.com/qc/img/pronun.png" alt="recorder" >
                                <!-- .panel-body -->
                                </div>
                            </div>
                        </div>
                    </div>
                     <h1>&nbsp;&nbsp;&nbsp;</h1>
                     <h1>&nbsp;&nbsp;&nbsp;</h1>
                   
                    <div class="col-md-12">
                        <div class="col-md-6">
                             <div class="panel-default">
                                <div class="col-lg-8 col-lg-offset-7">



                                <img  src="http://quickcorrections.com/qc/img/essay.png" alt="recorder" >
                                <!-- .panel-body -->
                                 </div>
                            </div>
                        </div>
                         <div class="col-md-6">
                             <div class="panel-default">
                                <div class="col-lg-8 col-lg-offset-1">

                                <br/><br/><h2 style="color:#99081B"><b>Lastly,</b><br/> we proofread your papers.</h2>

                                <!-- .panel-body -->
                                 </div>
                            </div>
                        </div>
                    </div>


                    
                    <br/>

                    <div class="col-md-12">
                    <br/><br/><br/><br/><br/>

                        <h1 class="text-center"><b>Our native English tutors <br/>devote themselves to helping you learn English!</b></h1>
                        <br/>
                    </div>
                            
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            

            
            <!-- /.container-fluid -->
        
        <!-- /#page-wrapper -->

    </div>
    
     <script src="../css/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../css/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../css/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../css/dist/js/sb-admin-2.js"></script>

</body>
</html>
