

        <!-- Page Content -->
    
            <div class="container-fluid">
                <div class="row" >
                    <div class="col-lg-12 page-header text-center">
                        <h1 style="font-size:50px; margin-top:-20px">FAQs</h1>
                        <h3>Please check our FAQ&#39;s first. <br/>If you have any additional questions, please <a href="http://quickcorrections.com/qc/login3/user/contactus" style="color:red">click here!</a></h3>
                        
                    </div>
                </div>
                <div class="row" >

                    <div class="col-lg-8 col-lg-offset-2">
                        
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3> What do you do?</h3>
                            </div>
                            <div class="panel-body">
                                <h4><b>We are working to help Non-Native Speakers of English from all over the world. <br/>We provide four types of English service. First, we correct your English sentence(s). Second, we answer your English-related question. Third, we correct your English pronunciation. Finally, we proofread your essays, papers, or any kinds of articles. We beatify your English!</b></h4>
                            </div>
                        
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3> How to use your service?</h3>
                            </div>
                            <div class="panel-body">
                                <h4><b>Very simple! Sign up and buy points (1 US cent equals 1 point.), and then submit your inquiry! Our native English tutors (not robot or computer) will help you QUICKLY!</b></h4>
                            </div>
                        
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3> How much do you charge?</h3>
                            </div>
                            <div class="panel-body">
                                <h4><b>We offer great services for cheap prices. Please visit our webpage, and check our pricing.</b></h4>
                            </div>
                        
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3> How quickly do you respond?</h3>
                            </div>
                            <div class="panel-body">
                                <h4><b>Our service is 24 hours a day, 7 days a week, and are open 365 days a year. Our Native English Tutors are always ready to help out. We will respond to you as QUICKLY as possible!</b></h4>
                            </div>
                        
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3> Do you use American English?</h3>
                            </div>
                            <div class="panel-body">
                                <h4><b>Yes. We are in the U.S.A., and most of our tutors are speaking American English. All of them have a lot of experience in teaching English, and some of them are former TOEFL, IELTS examiners.</b></h4>
                            </div>
                        
                        </div>
                       



                            
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            

            
            <!-- /.container-fluid -->
        
        <!-- /#page-wrapper -->

    </div>
    
     <script src="../css/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../css/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../css/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../css/dist/js/sb-admin-2.js"></script>

</body>
</html>
