<div style="background:#FAF5F5; height:300px;">
<div class="container" >
    <br/>
  <div class="row text-center">
    <img src="http://quickcorrections.com/qc/img/logo.png" alt="recorder" width="5%"> <h2 style="display:inline"><i>We Beautify Your English<i style="color:red">!</i> </i></h2>
    </div>
    <div class="row">
             <ul class="nav navbar-top-links navbar-center" style="display:inline">

                <li class="col-lg-4 ">
                    <button class="btn btn-default btn-outline" href=""><h4><b><i>T<i style="color:red" >utor</i></i> <i>O<i style="color:red">pportunity!</i></i></b></h4></button>
                </li>
                <div class="col-lg-5">
                <li >
                    <a class="dropdown-toggle"  href="<?= base_url('user') ?>">
                       &nbsp;&nbsp;Home
                    </a>
                   
                    <!-- /.dropdown-alerts -->
                </li>
                <li >
                    <a class="dropdown-toggle"  href="">
                      &nbsp;&nbsp;Privacy
                    </a>
                   
                    <!-- /.dropdown-alerts -->
                </li>

                 <li >
                    <a class="dropdown-toggle"  href="#">
                      Terms of Conditions
                    </a>
                   
                    <!-- /.dropdown-alerts -->
                </li>
                
                 <li >
                    <a class="dropdown-toggle"  href="#">
                      &nbsp;&nbsp;FAQs
                    </a>
                   
                    <!-- /.dropdown-alerts -->
                </li>
                </div>
                <!-- /.dropdown -->
                          
                    <li >
                    <a href="#"><img src="http://quickcorrections.com/qc/img/facebook-icon.png" alt="recorder"></a></li>
                    <li >
                    <a href="#"><img src="http://quickcorrections.com/qc/img/twitter-icon.png" alt="recorder" ></a></li>
                    <li >
                    <a href="#"><img src="http://quickcorrections.com/qc/img/youtube-icon.png" alt="recorder" ></a></li>
                    <li >
                    <a href="#"><img src="http://quickcorrections.com/qc/img/insta-icon.png" alt="recorder"></a></li>
                
                <!-- /.dropdown -->
            </ul>
           

    </div>
  </div>
  <br/>
    <div class="row">
        <div class="col-lg-12 text-center">
            <ul class="nav nav-pills nav-justified">
                <li> Copyright © 2016 Quick Corrections, LLC. All Rights Reserved. Proudly Developed By Unend LLC.</li>
               
            </ul>
        </div>
    </div>
</div>
</div>

<!-- jQuery -->
    <script src="../css/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../css/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../css/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../css/dist/js/sb-admin-2.js"></script>

</body>

</html>
