<div style="background:#FAF5F5; height:300px">
<div class="container" >
    <br/>
    <div class="col-sm-12 text-center">
        
    </div>
    <div class="row">
        <div class="col-sm-12">
             <ul class="nav navbar-top-links navbar-center" style="display:inline">
                <div class="col-sm-4 text-center">
                    <li>
                        <a class=" btn btn-default btn-outline btn-sm text-center"  href="http://quickcorrections.com/job%20posting.pdf" style="padding-top:5px; min-height:30px"><h4>&nbsp;<b><i>T<i style="color:red" >utor</i></i> <i>O<i style="color:red">pportunity!</i></i></b></h4></a></button>
                    </li>
                </div>
                <div class="col-sm-4 ">

                <img src="http://quickcorrections.com/qc/img/webeautify.png" alt="recorder" style="width:80%"> 
                </div>
                
               
                <!-- /.dropdown -->
                <div class="col-sm-4 text-center">


        
                    <li >
                    <a href="https://www.facebook.com/profile.php?id=100012972033803"><img src="http://quickcorrections.com/qc/img/facebook-icon.png" alt="recorder"></a></li>
                    <li >
                    <a href="https://twitter.com/QuickCorrection"><img src="http://quickcorrections.com/qc/img/twitter-icon.png" alt="recorder" ></a></li>
                    
                </div>
                <!-- /.dropdown -->
            </ul>
           
            </div>
    </div>
  <br/>
    <div class="row">
        <div class="col-sm-12 ">
               
                    <ul class="nav navbar-top-links navbar-center" style="display:inline">
                    <div class="col-sm-4 text-center">


                    <li style="border-right: 1px solid #bcbcbc">
                        <a class="dropdown-toggle"  href="http://quickcorrections.com/qc/login3/user/privacy" style="color:gray">
                         Privacy
                        </a>
                       
                        <!-- /.dropdown-alerts -->
                    </li>

                     <li style="border-right: 1px solid #bcbcbc">
                        <a class="dropdown-toggle"  href="http://quickcorrections.com/qc/login3/user/terms" style="color:gray">
                          Terms
                        </a>
                       
                        <!-- /.dropdown-alerts -->
                    </li>

                     <li style="border-right: 1px solid #bcbcbc">
                        <a class="dropdown-toggle"  href="http://quickcorrections.com/qc/login3/user/contactus" style="color:gray">
                          Contact
                        </a>
                       
                        <!-- /.dropdown-alerts -->
                    </li>
                    
                     <li >
                        <a class="dropdown-toggle"  href="http://quickcorrections.com/qc/login3/user/faqs" style="color:gray">
                            FAQs
                        </a>
                       
                        <!-- /.dropdown-alerts -->
                    </li>

                </div>
                <div class="col-sm-8">
                    <li style="color:gray"> Copyright © 2016 Quick Corrections, LLC. All Rights Reserved. Proudly Developed By Unend, LLC.</li>
               
                </div>
            </ul>
        </div>
    </div>
</div>
</div>

<!-- jQuery -->
    <script src="../css/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../css/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../css/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../css/dist/js/sb-admin-2.js"></script>

</body>

</html>
