

<body>
       
    <div id="wrapper">
         <img src="http://quickcorrections.com/qc/img/bg.png" style="height:410px; left:0; position:absolute"></a>

        
        <!-- Navigation -->
       
        <!-- Page Content -->
       
                <div class="row">
                   
                    <div class="col-sm-8 col-lg-offset-3" style="position:relative;>
                        <div class="panel text-center" >
                            
                        <h1 ><i><b>Are you a non-native speaker of English?</b></i></h1><i>
                        </i><h2 class=""><i>Our native English tutors will help you QUICKLY!</i></h2>
                         <br/>
                        
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel-default">
                        <div class="col-lg-9 col-lg-offset-3" >
                            <div class="panel panel-warning text-center">
                                <div class="panel-body">
                                <h4 style="color:#E31934">Do you want to check your sentence?</h4>
                                
                               <div class="col-sm-8">
                                    <h3 style="color:#E31934; display:inline">Submit your sentence </h3>
                                </div>
                                <div class="col-sm-4">
                                    <a href="<?= base_url('/user/sen_correct_student') ?>"> 
                                    <button  class="btn btn-danger">Click Here!</button> </a>
                                </div>
                                </div>

                                

                            </div>
                        </div>
                        <!-- .panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <div class="col-md-6">
                     <div class="panel-default">
                        <div class="col-lg-9 col-lg-offset-0">
                        <div class="panel panel-warning text-center">
                            <div class="panel-body">
                                
                            <h4 style="color:#0AC40D">Do you have any questions about English?</h4>
                        
                            <div class="col-sm-8">
                            <h3 style="color:#0AC40D; display:inline">&nbsp;Ask a question &nbsp;&nbsp;&nbsp; </h3>
                            </div>
                            <div class="col-sm-4">
                             <a href="<?= base_url('auth/english_question') ?>"><button class="btn btn-danger">Click Here!</button></a> 
                         </div>
                        <!-- .panel-body -->
                        </div>
                    </div>
                    </div>
                    </div>
                    <!-- /.panel -->
                </div>

               </div>
                <div class="row">
                    <div class="col-md-6">
                     <div class="panel-default">
                        <div class="col-lg-9 col-lg-offset-3">
                            <div class="panel panel-warning text-center">
                            <div class="panel-body">
                                
                            <h4 style="color:#053BED">Do you want to check your pronunciation?</h4>
                            
                            
                            <div class="col-sm-8">
                             <h3 style="color:#053BED; display:inline">Record your speaking </h3>
                             </div>
                            <div class="col-sm-4">
                             <a href="http://quickcorrections.com/qc/login3/auth/pronunciation"> <button href="" class="btn btn-danger">Click Here!</button></a> 
                             </div>
                             </div>
                             </div>
                        </div>
                        <!-- .panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <div class="col-md-6">
                     <div class="panel-default">
                        <div class="col-lg-9 col-lg-offset-0">
                        <div class="panel panel-warning text-center">
                            <div class="panel-body">
                            
                        <h4 style="color:#99081B">Do you want your paper to be Proofread?</h4>
                        
                       
                        <div class="col-sm-8">
                        <h3 style="color:#99081B; display:inline">Submit your paper </h3>
                        </div>
                        <div class="col-sm-4">
                        <a href="<?= base_url('auth/proofread') ?>"><button class="btn btn-danger">Click Here! </button> </a>
                        </div>
                        </div>
                        </div>
                    </div>

                        <!-- .panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>&nbsp;</h4>
                        
                    </div>
                    </div>
        </div>



            <!-- /.container-fluid -->
        
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
   
    <!-- jQuery -->
    <script src="../css/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../css/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../css/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../css/dist/js/sb-admin-2.js"></script>




</body></html>