

<body>

    <div id="wrapper">

        <!-- Navigation -->
       
        <!-- Page Content -->
        <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel">
                            
                        <h1 style="font-family:avenir"><i><b>Are you a Non-Native in English?</b></i></h1><i>
                        </i><h1 class=""><i>Our native English tutors will help you QUICKLY!</i></h1>
                         
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
        </div>
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-6">
                    <div class="panel-default">
                        <div class="col-lg-10" style="float:right">
                            <div class="panel panel-red text-center">
                            <h4>Do you want to check your sentence?</h4>
                            
                                <h3>Check your sentence! <button href="" class="btn btn-danger">Click Here!</button> </h3>
                            </div>
                        </div>
                        <!-- .panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <div class="col-lg-6">
                     <div class="panel-default">
                        <div class="col-lg-10" style="float:left">
                        <div class="panel panel-red text-center">

                        <h4>Do you have any questions about English?</h4>
                         <h3>Ask a question! <button href="" class="btn btn-danger">Click Here!</button> </h3>
                        <!-- .panel-body -->
                    </div>
                    </div>
                    </div>
                    <!-- /.panel -->
                </div>

               </div>
                <div class="row">
                    <div class="col-lg-6">
                     <div class="panel-default">
                        <div class="col-lg-10" style="float:right">
                            <div class="panel panel-red text-center">

                            <h4>Are you curious about your using pronunciation?</h4>
                             <h3>Check your pronunciation! <button href="" class="btn btn-danger">Click Here!</button> </h3>
                             </div>
                        </div>
                        <!-- .panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <div class="col-lg-6">
                     <div class="panel-default">
                        <div class="col-lg-10" style="float:left">
                        <div class="panel panel-red text-center">

                        <h4>Do you want your paper to be Proofread?</h4>
                        <h3>Submit your papers! <button href="" class="btn btn-danger">Click Here! </button> </h3>
                        </div>
                    </div>
                        <!-- .panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
        </div>


        <div class="container-fluid">
              <div class="row">
                <div class="text-center">
                    <h3><img src="../img/logo.png" width="30px">We Beautify Your English!</h3>
                    <h4>Copyright, UNEND LLC</h4>
                </div>
              </div>
                
        </div>
            <!-- /.container-fluid -->
        
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
   
    <!-- jQuery -->
    <script src="../css/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../css/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../css/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../css/dist/js/sb-admin-2.js"></script>




</body></html>