
        <!-- Page Content -->
        <div class="container-fluid" id="page-wrapper">
            <div class="row" >
                 <div class="col-lg-12 page-header text-center">
                    <h1 style="font-family:avenir; font-size:50px">PURCHASE POINT</h1>
                    <h4>1 cent = 1 point</h4>
                </div>
            </div>
            
            <div class="row text-center" >
                <div class="col-lg-10 col-lg-offset-1" >
                    <div class="col-lg-3">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                   <h2 style="font-size:50px">$10</h2>
                                </div>
                                <div class="panel-body">
                                    <h3>1000 Points</h3>
                                </div>
                              
                            </div>
                    </div>
                    <div class="col-lg-3">
                       
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <h2 style="font-size:50px">$25</h2>
                                </div>
                                <div class="panel-body">
                                    <h3>2500 Points</h3>
                                </div>
                                <div class="panel-footer">
                                   <h4>Bonus: 50 Points</h4>
                                </div>
                            </div>
                        
                    </div>
                    <div class="col-lg-3">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                   <h2 style="font-size:50px">$50</h2>
                                </div>
                                <div class="panel-body">
                                    <h3>5000 points</h3>
                                </div>
                                <div class="panel-footer">
                                    <h4>Bonus: 100 Points</h4>
                                </div>
                            </div>                   
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                               <h2 style="font-size:50px">$100</h2> 
                            </div>
                            <div class="panel-body">
                                <h3>10000 Points</h3>
                            </div>
                            <div class="panel-footer">
                                <h4>Bonus: 200 Points</h4>
                            </div>
                        </div>
                        <!-- /.col-lg-4 -->
                    </div>
                </div>
        <!-- /#page-wrapper -->
            </div>
            <hr/>
            
            <div class="row">               
                 <div class="col-lg-offset-4">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" onsubmit="try {return window.confirm(&quot;You are submitting information to an external page.\nAre you sure?&quot;);} catch (e) {return false;}">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="UVJWMC96A4EZL">
                    <table>
                    <tbody><tr><td><input type="hidden" name="on0" value="Points"><h1>SELECT POINTS</h1></td></tr><tr><td><select name="os0">
                        <option value="1,000 Points">1,000 Points $10.00 USD</option>
                        <option value="2,500 Points">2,500 Points Bonus+50 $25.00 USD </option>
                        <option value="5,000 Points">5,000 Points Bonus+100 $50.00 USD</option>
                        <option value="10,000 Points">10,000 Points Bonus+200 $100.00 USD</option>
                    </select> </td></tr>
                    </tbody></table>
                    <input type="hidden" name="currency_code" value="USD">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../css/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../css/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../css/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../css/dist/js/sb-admin-2.js"></script>

</body>

</html>
